html,
body {
  margin: 0;
  padding: 0;
}

html {
  height: -webkit-fill-available;
}

body {
  color: #000;
  text-align: center;
  font-family: 'Poppins', Avenir, source-sans-pro, sans-serif;

  background: rgb(242, 242, 242);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  min-height: 100vh;
}

main,
footer {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 1rem 0.7rem;
}
